extends layout 

block head 
  link(rel='stylesheet' href='/styles/message_detail.css')
  
block content 
  if !message
    p There has been a problem displaying the message 
  else 
    .message
      h2 !{message.title} 
      p.body !{message.body} 
      .byline 
        p
          if message.author 
            span: a(href=message.author.url || '/') #{message.author.username || ''} 
            | on 
            span !{message.timestamp.toLocaleString()}

  if user && user.memberStatus === 'Admin' 
    a(href=`${message.url}/delete`) Delete Message
