extends layout 

block head 
  link(rel='stylesheet' href='/styles/user_detail.css')

block content 

  if isUsersOwnProfile 
    .userOptions.side
      h2 Manage Account 
      ul
        li: a(href=`${user.url}/update-info`) Update Personal Information 
        li: a(href=`${user.url}/change-password`) Change Password
        li: a(href=`${user.url}/account-settings`) Account Settings
        li: a(href=`${user.url}/membership-status`) Membership Status
        li: a(href=`${user.url}/delete-account`) Delete Account
  
  if userInfo
    h1 User Profile for #{userInfo.username}

    if userInfo.firstName && userInfo.lastName
      p Name: #{userInfo.firstName} #{userInfo.lastName}
    if userInfo.email
      p Email: #{userInfo.email}
    p Member Status: #{userInfo.memberStatus}
  else 
    p User not found


  .messages
  if messages
    each message in messages 
      .message 
        p: a(href=message.url) #{message.title}

        if (message.author && message.timestamp)
          .byline 
            p Left on #[span #{message.timestamp.toLocaleString()}]

  if isAdmin
    p Placeholder: Hello Admin 
  
